{% extends 'base.html' %}
{% block content %}
<div style="margin: 100px;">
    <h1> እንኳን ደህና መጣህ {{username}}! </h1>
    <h3> የስራ ድርሻህ {{role}}</h3>
    <hr style="border-color: #555;">
    <h2 style="color: #00ffd2;"> ያሉኝ የቴክኖሎጂ ችሎታዎች (skills) :-</h2>
    <ul>
        {% for skill in skills %}
            <li style="margin-bottom: 15px; list-style: none;">
                <strong style="font-size: 1.2rem; color: #ffeb3b;"> {{skill.title}} </strong>
                <p style="margin: 5px 0 0 0; color: #ccc;"> {{skill.description}}</p>
            </li>
        {% empty %}
            <li> እስካሁን ምንም አይነት ችሎታ አልተመዘገበም </li>
        {% endfor %}
    </ul>
</div>
    <a href="/about/" style="color: white; font-weight: bold ; text-decoration: solid;"> To ABOUT  go page </a>
{% endblock content %}